/*****************************
    * Main CSS file for site
    *Author: Me
 *****************************/

:root {
    --global-color-1: #800000;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
}

a:focus,
a:hover {
    font-style: italic;
}

header h2 {
    font-size: 175%;
    color: var(--global-color-1);
    text-indent: 30px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    text-indent: 30px;
}